<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
          <button id="submit" class="btn btn-primary float-right">Start</button>
        </form>
        <h3>Game</h3>
        
         <div class="game-div">

         </div>
